<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i&display=swap" rel="stylesheet">
    <link media="all" rel="stylesheet" href="{{ '/css/common.css' | path }}">
</head>

<body class="fractal-preview" itemscope itemtype="http://schema.org/WebPage">
    <div class="page">
        {{ yield }}
    </div>
    <script src="{{ "/js/common.js" | path }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
</body>
</html>
