{% import "@macro-render" as render %}

<footer id="page-footer" class="bp-page-footer">
    <section class="section footer-section footer-section-content">
        <div class="container">
            <div class="section-row">
                <div class="section-column footer-section-content-column footer-section-content-column-left">
                    <div id="c2"
                         class="frame frame-default frame-type-textpic frame-layout-0 frame-background-none frame-no-backgroundimage  ">
                        <div class="frame-container">
                            <div class="frame-inner">
                                <div class="textpic textpic-above">
                                    <div class="textpic-item textpic-gallery">
                                        <div class="gallery-row">
                                            <div class="gallery-item gallery-item-size-6">
                                                <figure class="image">
                                                    <picture>
                                                        <source data-variant="default" data-maxwidth="170"
                                                                media="(min-width: 1200px)"
                                                                srcset="/fileadmin/media/christ-feinmechanik/logo/logo-christ-feinmechanik.svg 1x">
                                                        <source data-variant="large" data-maxwidth="140"
                                                                media="(min-width: 992px)"
                                                                srcset="/fileadmin/media/christ-feinmechanik/logo/logo-christ-feinmechanik.svg 1x">
                                                        <source data-variant="medium" data-maxwidth="216"
                                                                media="(min-width: 768px)"
                                                                srcset="/fileadmin/media/christ-feinmechanik/logo/logo-christ-feinmechanik.svg 1x">
                                                        <source data-variant="small" data-maxwidth="156"
                                                                media="(min-width: 576px)"
                                                                srcset="/fileadmin/media/christ-feinmechanik/logo/logo-christ-feinmechanik.svg 1x">
                                                        <source data-variant="extrasmall" data-maxwidth="179"
                                                                srcset="/fileadmin/media/christ-feinmechanik/logo/logo-christ-feinmechanik.svg 1x">
                                                        <img loading="lazy"
                                                             src="/fileadmin/media/christ-feinmechanik/logo/logo-christ-feinmechanik.svg"
                                                             title="" alt="CHRIST-Feinmechanik"></picture>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="textpic-item textpic-text">
                                        <address class="address"><p class="address-title">
                                                <strong>CHRIST-Feinmechanik</strong></p>
                                            <p class="address-address">An der Alten Bach 2<br> 35428 Langgöns</p>
                                            <p class="address-phone">+49 (0) 6403 / 9015-0</p>
                                            <p class="address-email"><a
                                                    href="javascript:linkTo_UnCryptMailto('nbjmup+jogpAdisjtu.gfjonfdibojl\/dpn');">info(at)christ-feinmechanik.com</a>
                                            </p></address>
                                        <p>&nbsp;</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="c3"
                         class="frame frame-default frame-type-image frame-layout-0 frame-background-none frame-no-backgroundimage frame-space-inner-before-small ">
                        <div class="frame-container">
                            <div class="frame-inner">
                                <div class="gallery-row">
                                    <div class="gallery-item gallery-item-size-1">
                                        <figure class="image">
                                            <picture>
                                                <source data-variant="default" data-maxwidth="1100"
                                                        media="(min-width: 1200px)"
                                                        srcset="/fileadmin/media/christ-feinmechanik/seal/christ-quality-eu.png 1x">
                                                <source data-variant="large" data-maxwidth="920"
                                                        media="(min-width: 992px)"
                                                        srcset="/fileadmin/media/christ-feinmechanik/seal/christ-quality-eu.png 1x">
                                                <source data-variant="medium" data-maxwidth="680"
                                                        media="(min-width: 768px)"
                                                        srcset="/fileadmin/media/christ-feinmechanik/seal/christ-quality-eu.png 1x">
                                                <source data-variant="small" data-maxwidth="500"
                                                        media="(min-width: 576px)"
                                                        srcset="/fileadmin/_processed_/e/b/csm_christ-quality-eu_22f323b9c4.png 1x">
                                                <source data-variant="extrasmall" data-maxwidth="374"
                                                        srcset="/fileadmin/_processed_/e/b/csm_christ-quality-eu_def7eb45b3.png 1x">
                                                <img loading="lazy"
                                                     src="/fileadmin/media/christ-feinmechanik/seal/christ-quality-eu.png"
                                                     title="" alt="CHRIST Qualität - German engineering - EU"></picture>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-column footer-section-content-column footer-section-content-column-middle">
                    <div id="c6"
                         class="frame frame-default frame-type-menu_subpages frame-layout-0 frame-background-none frame-no-backgroundimage  ">
                        <div class="frame-container">
                            <div class="frame-inner">
                                <header class="frame-header"><h2 class="element-header h5"><a href="/de/kontakt"><span>Spindeln</span></a>
                                    </h2></header>
                                <ul>
                                    <li><a href="/de/aktuelles/unterseite" title="Unterseite">Unterseite</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="c8"
                         class="frame frame-default frame-type-menu_section_pages frame-layout-0 frame-background-none frame-no-backgroundimage  ">
                        <div class="frame-container">
                            <div class="frame-inner">
                                <ul>
                                    <li><a href="/de/aktuelles/unterseite" title="Unterseite">Unterseite</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-column footer-section-content-column footer-section-content-column-right"></div>
            </div>
        </div>
    </section>
    <section class="section footer-section footer-section-meta">
        <div class="frame frame-background-none frame-space-before-none frame-space-after-none">
            <div class="frame-container">
                <div class="frame-inner">
                    <div class="footer-meta">
                        <ul id="meta_menu" class="meta-menu">
                            <li><a href="/de/impressum" title="Impressum"><span>Impressum</span></a></li>
                            <li><a href="/de/default-title" title="Datenschutz"><span>Datenschutz</span></a></li>
                            <li><a href="/de/agb" title="AGB"><span>AGB</span></a></li>
                        </ul>
                    </div>
                    <div class="footer-copyright"><p>© 2019 CHRIST-Feinmechanik GmbH &amp; Co. KG</p></div>
                </div>
            </div>
        </div>
    </section>
    {{ render.frame(footer) }}
</footer>
