//
// Footer Section Content
//
.footer-section-content {
  font-weight: $font-weight-bold;

  .section-row {
    margin-left: -30px;
    margin-right: -30px;
  }
  .section-column {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.footer-logo {
  padding-top: map-get($padding, 'large');
  padding-bottom: 2rem;
}
.footer-seal {
  padding-top: 2rem;
  padding-bottom: map-get($padding, 'large');

  img {
    & + img {
      margin-left: 20px;
    }
  }
}


//
// Footer Section Meta
//
.footer-section-meta {
  .frame {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .frame-inner > *:not(:first-child) {
    margin-top: 0;
  }
}
.footer-section-content-column {
  .frame {
    position: unset;

    &:first-child {
      padding-top: map-get($padding, 'large');
    }
    &:last-child {
      padding-bottom: map-get($padding, 'large');
    }
  }

  &-left {
    // ToDo: Logo size
  }

  &-middle,
  &-right {
    position: relative;

    > .frame:first-child {

      &:before {
        background: $gray-300;
        opacity: 0.6;
        content: '';
        position: absolute;
        left: 0;
        width: 1px;
        top: map-get($margin, 'large');
        bottom: map-get($margin, 'large')
      }
    }
  }
}

// Footer Meta
//
.footer-meta {
  margin-bottom: 1rem;

  ul {
    li {
      @extend .nav-item;

      a {
        @extend .nav-link;
      }

      @include media-breakpoint-up(md) {
        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    float: right;
    margin-bottom: 0;
  }
}

// Copyright
//
.footer-copyright {
  text-align: left;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
