.t3-page-column-20 {
    background-color: rgba(23, 118, 128, 0.20);
}
.t3-page-column-30 {
    background-color: rgba(23, 118, 128, 0.30);
}
.t3-page-column-0 {
    background-color: rgba(178, 179, 23, 0.20);
}
.t3-page-column-90 {
    background-color: rgba(61, 51, 46, 0.20);
}