<div class="valign" {f:if(condition: item.data.text_color,then:'style="color: {item.data.text_color};"')}>
<div class="vcontainer">
    <div class="carousel-text-inner">
        <f:if condition="{item.data.nav_title}">
            <div>{item.data.nav_title}</div>
        </f:if>
        <f:render partial="Carousel/General/Headline" arguments="{_all}" />
        <f:if condition="{item.data.bodytext}">
            <div class="carousel-item-bodytext">
                <f:format.html>{item.data.bodytext}</f:format.html>
            </div>
        </f:if>
    </div>
</div>
</div>
