// Breadcrumb
//

.breadcrumb-section {}


// Breadcrumb
//


// Breadcrumb item
//
.breadcrumb-item {
  height: 30px;

  + .breadcrumb-item {
    padding-left: 0;
    margin-left: .8rem;

    &:before {
      display: none;
    }
  }

  &.active {
    background: $white;
    color: $gray-600;
    padding: 3px 6px;
  }

  .btn {
    background: white;
    padding: 2px 8px;
    min-height: 30px;

    &:focus {
      box-shadow: unset;
    }
  }
  .dropdown-toggle {
    &:after {
      display: none;
    }
    .breadcrumb-icon {
      float: right;
      margin-left: 3px;

      #down {
        fill: $gray-600;
      }
    }
  }
}

// Breadcrumb link
//
.breadcrumb-link {
  display: block;
  background: $white;
  color: $gray-600;
  padding: 3px 8px;
}

.breadcrumb-icon {
  padding: 4px 0;
  display: block;

  svg {
    display: block;

    #home {
      fill: $gray-600;
    }
  }
}

.breadcrumb-text {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .04rem;

  .active & {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}




