// Breadcrumb
//
$breadcrumb-bg: $gray-300;
$breadcrumb-divider: '';

$breadcrumb-padding-y: map-get($margin, "small");
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 0;

$breadcrumb-active-color: $gray-600;



