<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
<hr{f:if(condition: data.tx_diacontent_classes, then: ' class="{data.tx_diacontent_classes}"')} />
</f:section>
</html>
