.accordion-item {
  box-shadow: none !important;

  img {
    clip-path: none !important;
  }
}

.accordion-header {

  &.card-header {
    background: $gray-100;
  }
}

.accordion-body {
  &.card-body {
    border-right: 1px solid $gray-100;
    border-bottom: 1px solid $gray-100;
    border-left: 1px solid $gray-100;
  }
}
