//
// Address
//
.address {

  .footer-section-content & {
    line-height: 188%;
    font-size: 1rem;
  }
}

.address-title {
  @extend .h4;

  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.address-phone,
.address-fax {
    position: relative;

    &:before {
        content: '';
        display: inline-block;
        float: left;
        margin-right: 4px;
    }
}

.address-phone:before {
    content: 'T:';
}

.address-fax:before {
    content: 'F:';
}
