// FlyOut
//
.flyout {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  transition: transform .3s  ease-in-out;
  z-index: 10000;

  &:hover {
    transform: translate(0, -50%);
  }

  &__nav {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(90deg);
    transform-origin: 0 0;

    button {
      padding: .6rem 2rem;
      transform: rotate(-180deg);
    }
  }

  &__content {
    background: $white;
    padding: 2rem;
    border: 2px solid $secondary;
    max-width: 340px;
    max-height: 100vh;
    overflow-y: auto;
  }
}
