//
// Brand
//
.navbar-mainnavigation {
    .navbar-brand-image {
        img {
            @media (min-width: $grid-float-breakpoint) {
                max-height: 100%;
            }
        }
    }
}