//
// Variables
//

//
// Color system
//
$primary: #1C2B52;
$secondary: #B5141D;
$secondary-2: #ED1723;

$white: #FFF;
$gray-100: #F1F1F1;
$gray-300: #DDDDDD;
$gray-600: #788095;
$gray-900: #1F1F1F;

$default: $gray-600;

$yiq-contrasted-threshold: 150;
$yiq-text-light: $white;
$yiq-text-dark: $gray-900;


//
// Typography
//
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-base: $font-family-sans-serif;

$font-weight-lighter: 300;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 400;
$font-weight-bolder: 600;

$font-weight-base: $font-weight-light;
$line-height-base: 1.5;

$headings-font-weight: 400;

$lead-font-size: 1.125em;
$lead-font-weight: 400;

$body-color: $gray-600;

$link-color: $primary;
$link-hover-color: darken($link-color, 15%);



//
// Headings
//
$font-size-base: 1rem;
$h1-font-size:                     $font-size-base * 2;
$h2-font-size:                      $font-size-base * 1.75;
$h3-font-size:                      $font-size-base * 1.5;
$h4-font-size:                      $font-size-base * 1.25;
$h5-font-size:                      $font-size-base * 1;
$h6-font-size:                      $font-size-base * .85;

$link-color : #1C2B52;
$cardmenu-gap: 1.5rem;

$headline-scaling: ();
$headline-scaling: map-merge(
    (
      xs: 0.8,
      sm: .875,
      md: 1,
      lg: 1.125,
      xl: 1.2
    ),
    $headline-scaling
);

$headings-color: $gray-900;



//
// Buttons + Forms
//
//$input-btn-padding-y: .375rem;
$input-btn-padding-x: 1rem;


//
// Navbar
//
$navbar-nav-link-padding-x:    1rem;
$navbar-heights: (
  xs: 100px,
  sm: 100px,
  md: 100px,
  lg: 100px,
  xl: 100px
);


//
// Footer
//
$footer-sections: ();
$footer-sections: map-merge(
    (
      content: (
        background: $gray-600,
        color: $white,
        link-color: $white
      ),
      meta: (
        background: $primary,
        color: $white,
        link-color: $white
      )
    ),
    $footer-sections
);

$card-group-margin: 15px;
$cardgroup-gap: 2rem;

$form-group-margin-bottom: 1.5rem;
