//
// Custom
//
$pswp__background-color: $gray-900;
$pswp__placeholder-color: $gray-600;
$pswp__error-text-color: $gray-100;

//
// PhotoSwipe
//
$pswp__show-hide-transition-duration: 333ms !default;
$pswp__controls-transition-duration: 333ms !default;
$pswp__background-color: #000000 !default;
$pswp__placeholder-color: #222222 !default;
$pswp__root-z-index: 1500 !default;
$pswp__assets-path: '../../../../public/typo3conf/ext/bootstrap_package/Resources/Public/Images/PhotoSwipe/';
$pswp__error-text-color: #cccccc !default;
