//
// Spacing
//

// Padding
//
$padding: (
  extraSmall: 1rem,
  small: 2rem,
  medium: 4rem,
  large: 6rem,
  extraLarge: 9rem,
  default: 4rem
);

// Margin
//
$margin: (
  extraSmall: 1rem,
  small: 2rem,
  medium: 4rem,
  large: 6rem,
  extraLarge: 9rem,
  default: 4rem
);
