.carousel-fullscreen {

  .carousel-indicators {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    justify-content: left;
    bottom: .5rem;

    @include media-breakpoint-up(md) {
      bottom: 10%;
    }

    @each $breakpoint, $container-max-width in $container-max-widths {
      @include media-breakpoint-up($breakpoint) {
        max-width: $container-max-width - $grid-gutter-width;
      }
    }

    li {
      height: 14px;
      width: 14px;

      @include media-breakpoint-up(lg) {
        &:first-child {
          margin-left: 6rem;
        }
      }
    }
  }
}

.carousel-fullscreen .carousel-item {
  padding-left: 0;
  padding-right: 0;

  &-type-text {

    .carousel-text-inner {
      width: 100%;

      @include media-breakpoint-up(lg) {
        padding-top: 6rem;
        padding-left: 6rem;
      }
    }

    .vcontainer {
      background: rgba(28, 43, 82, 0.78);
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center!important;
      padding-left: 20px;
      padding-right: 20px;

      @include media-breakpoint-up(lg) {
        align-items: flex-start!important;
        width: 70%;
      }
    }
    .carousel-text-inner {
      display: flex;
      flex-wrap: wrap;
      flex-flow: column;

      .carousel-item-header {
        color: inherit;
        order: 2;
        font-size: 3rem;
        text-transform: none;

        @include media-breakpoint-up(lg) {
          font-size: 3.625rem;
        }
      }
      .carousel-item-subheader {
        color: inherit;
        order: 1;
        font-weight: 300;
        font-size: 1.125rem;
        text-transform: none;
      }
      .carousel-item-bodytext {
        order: 3;
        font-weight: 300;
        font-size: 1.125rem;
      }
    }
  }
}


