{% extends "@wrapper-frame" %}

{% import "@macro-menu" as menu %}

{% set CType = 'dia_menu_pages' %}

{% block main %}
    {% include "@frame-header" %}

    {{ menu.menu(pages, class, classItem, classLink) }}
{% endblock %}
