{% import "@macro-render" as render %}

<header id="page-header" class="bp-page-header navbar navbar-mainnavigation navbar-default navbar-has-image navbar-top">
    <div class="container">
        <a class="navbar-brand navbar-brand-image" title="CHRIST-Feinmechanik GmbH &amp; Co. KG" href="/">
            <img class="navbar-brand-logo-normal"
                 src="http://christ-feinmechanik-web-internetseite.ddev.site/typo3conf/ext/dia_site_christfeinmechanik/Resources/Public/Images/Logo/logo-christ-feinmechanik.svg"
                 alt="CHRIST-Feinmechanik GmbH &amp; Co. KG" height="80" width="80">
            <img class="navbar-brand-logo-inverted"
                 src="http://christ-feinmechanik-web-internetseite.ddev.site/typo3conf/ext/dia_site_christfeinmechanik/Resources/Public/Images/Logo/logo-christ-feinmechanik.svg"
                 alt="CHRIST-Feinmechanik GmbH &amp; Co. KG" height="80" width="80">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainnavigation"
                aria-expanded="false" aria-label="Navigation umschalten"><span class="navbar-toggler-icon"></span>
        </button>
        <nav id="mainnavigation" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/aktuelles" id="nav-item-9" class="nav-link" title="Aktuelles">
                        <span class="nav-link-text">Aktuelles</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/kontakt" id="nav-item-7" class="nav-link" title="Kontakt">
                        <span class="nav-link-text">Kontakt</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="navbar-seal">
            <img src="http://christ-feinmechanik-web-internetseite.ddev.site/typo3conf/ext/dia_site_christfeinmechanik/Resources/Public/Images/Seal/christ-quality.png" alt="CHRIST-Feinmechanik Qualität" height="60" width="60">
        </div>
    </div>
</header>
