<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.header} || {data.subheader} || {data.date}">
    <f:switch expression="{data.header_layout}">
        <f:case value="0"></f:case>
        <f:case value="100"></f:case>
        <f:defaultCase>
            <header class="frame-header">
                <f:render partial="Header/Header" arguments="{
                    header: data.header,
                    layout: data.header_layout,
                    positionClass: '{headerClasses}',
                    link: data.header_link,
                    class: settings.header.class,
                    default: settings.header.defaultHeaderType}" />
                <f:render partial="Header/SubHeader" arguments="{
                    subheader: data.subheader,
                    layout: data.header_layout,
                    positionClass: '{subHeaderClasses}',
                    class: settings.subheader.class,
                    default: settings.header.defaultHeaderType}" />
                <f:render partial="Header/Date" arguments="{
                    date: data.date,
                    format: settings.header.date.format,
                    positionClass: '{f:if(condition: data.header_position, then: \'text-{data.header_position}\')}'}" />
            </header>
        </f:defaultCase>
    </f:switch>
</f:if>
</html>
