<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
<f:if condition="{subheader}">
	<f:switch expression="{layout}">
		<f:case value="1">
			<h2 class="{class} {positionClass}"><f:link.typolink parameter="{link}"><span>{subheader}</span></f:link.typolink></h2>
		</f:case>
		<f:case value="2">
			<h3 class="{class} {positionClass}"><f:link.typolink parameter="{link}"><span>{subheader}</span></f:link.typolink></h3>
		</f:case>
		<f:case value="3">
			<h4 class="{class} {positionClass}"><f:link.typolink parameter="{link}"><span>{subheader}</span></f:link.typolink></h4>
		</f:case>
		<f:case value="4">
			<h5 class="{class} {positionClass}"><f:link.typolink parameter="{link}"><span>{subheader}</span></f:link.typolink></h5>
		</f:case>
		<f:case value="5">
			<h6 class="{class} {positionClass}"><f:link.typolink parameter="{link}"><span>{subheader}</span></f:link.typolink></h6>
		</f:case>
		<f:case value="10">
			<div class="{class} {positionClass}"><f:link.typolink parameter="{link}"><span>{subheader}</span></f:link.typolink></div>
		</f:case>
		<f:defaultCase>
			<f:if condition="{default}">
				<f:render partial="Header/SubHeader" arguments="{
					subheader: subheader,
					positionClass: positionClass,
					layout: default}" />
			</f:if>
		</f:defaultCase>
	</f:switch>
</f:if>
</f:spaceless>
</html>
