<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Border">
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.contentCount', data: '{pageUid: \'{data.uid}\', colPos: \'3\', slide: \'{theme.pagelayout.{pagelayout}.colPos.3.slide}\'}')}">
        <f:then>
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3', slide: '{theme.pagelayout.{pagelayout}.colPos.3.slide}'}" />
        </f:then>
        <f:else>
            <f:if condition="{page_media.0}">
                <div class="frame frame-default frame-type-image frame-layout-0 frame-background-none frame-no-backgroundimage">
                    <div class="frame-container">
                        <div class="frame-inner">
                            <div class="gallery-row">
                                <div class="gallery-item gallery-item-size-1">
                                    <figure class="image">
                                        <f:variable name="imageConfig">{settings.responsiveimages.page_media}</f:variable>
                                        <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{imageConfig.multiplier}" gutters="{imageConfig.gutters}" corrections="{imageConfig.corrections}" />
                                        <f:render partial="../ContentElements/Media/Rendering/Image" arguments="{file: page_media.0, data: data, settings: settings, variants: variants}" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </f:if>
        </f:else>
    </f:if>
</f:section>
<f:section name="Main">

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '8', slide: '{theme.pagelayout.{pagelayout}.colPos.8.slide}'}" />

    <div class="section section-default">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0', slide: '{theme.pagelayout.{pagelayout}.colPos.0.slide}'}" />
    </div>

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '9', slide: '{theme.pagelayout.{pagelayout}.colPos.9.slide}'}" />

</f:section>
<f:section name="Footer">

    <f:render partial="Structure/FooterContent" arguments="{_all}" />

</f:section>
</html>
