<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<n:excludeDisplayedNews newsItem="{newsItem}" />

    <div class="col-md-{f:if(condition:settings.limit, then:'{12 / settings.limit}', else:'4')} news-list-item articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">

        <div class="headline-date d-flex flex-wrap flex-column">
            <h3 class="order-1 headline" itemprop="headline">
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    {newsItem.title -> f:format.crop(maxCharacters: '40', respectWordBoundaries:'1') -> f:format.html()}
                </n:link>
            </h3>

            <f:render partial="General/AdditionalInformation/Dates" arguments="{settings:settings,newsItem:newsItem}" />
        </div>

        <!-- teaser -->
        <div class="lead font-weight-light" itemprop="description">
            <n:removeMediaTags>
                <f:if condition="{newsItem.teaser}">
                    <f:then>
                        {newsItem.teaser -> f:format.crop(maxCharacters: '66', respectWordBoundaries:'1') -> f:format.html()}
                    </f:then>
                    <f:else>
                        {newsItem.bodytext -> f:format.crop(maxCharacters: '66', respectWordBoundaries:'1') -> f:format.html()}
                    </f:else>
                </f:if>
            </n:removeMediaTags>
        </div>

        <n:link newsItem="{newsItem}" settings="{settings}" class="btn btn-stroked btn-read-more mt-3" title="{newsItem.title}">
            <f:translate key="more-link" />
        </n:link>
    </div>

</html>
