{% extends "@wrapper-empty" %}

{% block main %}

    <div class="section section-border">
        <div class="breadcrumb-headline">
            <nav class="breadcrumb-section" aria-label="Brotkrümelnavigation">
                <div class="container"><p class="sr-only" id="breadcrumb">Sie sind hier:</p>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href=""><span class="breadcrumb-icon"><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="16" height="16" viewBox="0 0 15 16" version="1.1"><!-- Generator: Sketch 57.1 (83088) - https://sketch.com --><title>icon/home</title><desc>Created with Sketch.</desc><g
                                            id="Styles" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g
                                                id="home" fill="#FFFFFF"><path
                                                    d="M13.0909091,13.8181818 C13.0909091,14.2196364 12.7650909,14.5454545 12.3636364,14.5454545 L10.1818182,14.5454545 L10.1818182,8 C10.1818182,7.59854545 9.85672727,7.27272727 9.45454545,7.27272727 L5.09090909,7.27272727 C4.68945455,7.27272727 4.36363636,7.59854545 4.36363636,8 L4.36363636,14.5454545 L2.18181818,14.5454545 C1.78109091,14.5454545 1.45454545,14.2196364 1.45454545,13.8181818 L1.45454545,6.17381818 L7.27272727,1.64872727 L13.0909091,6.17381818 L13.0909091,13.8181818 Z M5.81818182,14.5454545 L8.72727273,14.5454545 L8.72727273,8.72727273 L5.81818182,8.72727273 L5.81818182,14.5454545 Z M14.2647273,5.24363636 L7.71927273,0.152727273 C7.45672727,-0.0509090909 7.08872727,-0.0509090909 6.82618182,0.152727273 L0.280727273,5.24363636 C0.104,5.38181818 -2.04281037e-14,5.59345455 -2.04281037e-14,5.81818182 L-2.04281037e-14,13.8181818 C-2.04281037e-14,15.0210909 0.978909091,16 2.18181818,16 L12.3636364,16 C13.5665455,16 14.5454545,15.0210909 14.5454545,13.8181818 L14.5454545,5.81818182 C14.5454545,5.59345455 14.4414545,5.38181818 14.2647273,5.24363636 L14.2647273,5.24363636 Z"></path></g></g></svg></span><span
                                    class="breadcrumb-text sr-only">Home</span></a></li>
                        <li class="breadcrumb-item ">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuBreadcrumb"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                        class="breadcrumb-text">...</span><span class="breadcrumb-icon"><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="16"
                                            viewBox="0 0 16 10" version="1.1"><!-- Generator: Sketch 57.1 (83088) - https://sketch.com --><title>icon/chevron/down</title><desc>Created with Sketch.</desc><g
                                                id="Styles" stroke="none" stroke-width="1" fill="none"
                                                fill-rule="evenodd"><g id="down" fill="#FFFFFF"><path
                                                        d="M8.00025,9.14310204 C7.70767988,9.14310204 7.41510976,9.03110254 7.19225361,8.80824639 L0.335141361,1.95113415 C-0.111713787,1.504279 -0.111713787,0.781996509 0.335141361,0.335141361 C0.781996509,-0.111713787 1.504279,-0.111713787 1.95113415,0.335141361 L8.00025,6.38425721 L14.0493659,0.335141361 C14.496221,-0.111713787 15.2185035,-0.111713787 15.6653586,0.335141361 C16.1122138,0.781996509 16.1122138,1.504279 15.6653586,1.95113415 L8.80824639,8.80824639 C8.58539024,9.03110254 8.29282012,9.14310204 8.00025,9.14310204"></path></g></g></svg></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuBreadcrumb">
                                    <a class="dropdown-item" href="/aktuelles">Aktuelles</a></div>
                            </div>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"><span class="breadcrumb-text">Test</span>
                        </li>
                    </ol>
                </div>
            </nav>
            <div class="container container-headline"><h1 class="page-headline h2">Test</h1></div>
        </div>
    </div>
{% endblock %}
