//
// Section: Border
//
.section-border {
  position: relative;

  .image {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, .2);
      display: block;
      height: 100%;
    }
  }
}

.breadcrumb-headline {
  background: $gray-300;
  //padding-top: map-get($padding, 'small');
  padding-bottom: map-get($padding, 'small');

  .frame + & {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: none;

    .breadcrumb-section {
      background: none;
    }
    .breadcrumb {
      background: none;
    }
    .page-headline {
      color: $white;
    }
  }
}
