<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
        <f:form.checkbox
            property="{element.identifier}"
            id="{element.uniqueIdentifier}"
            class="{element.properties.elementClassAttribute}"
            value="{element.properties.value}"
            errorClass="{element.properties.elementErrorClassAttribute}"
            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
        />
        <label class="custom-control-label" for="{element.uniqueIdentifier}">
            <span>
                <f:switch expression="{element.identifier}">
                    <f:case value="data-privacy">
                        <f:format.raw>
                            {f:translate(
                                extensionName: 'DiaSiteChristfeinmechanik',
                                key: 'data-privacy.label',
                                arguments: {
                                    0: '<a href="{f:uri.page(pageUid: \'5\')}">Datenschutzbestimmungen</a>',
                                    1: '{f:link.email(email: \'info@christ-feinmechanik.com\')}'
                                },
                                default: '{formvh:translateElementProperty(element: element, property: \'label\')}'
                            )}
                        </f:format.raw>
                    </f:case>
                    <f:defaultCase>
                        {formvh:translateElementProperty(element: element, property: \'label\')}
                    </f:defaultCase>
                </f:switch>
                <f:if condition="{element.required}"><f:render partial="Field/Required" /></f:if>
            </span>
        </label>
    </f:render>
</formvh:renderRenderable>
</html>
