{% extends images ? "@wrapper-frame" : "@wrapper-empty" %}

{% set CType = 'image' %}

{% macro image(image) %}
    <img class="img-fluid" src="{{ image.src }}" alt="{{ image.alt }}">
{% endmacro %}

{% macro imageCaption(image, class) %}
    {% if image.title or image.description %}
        <div class="{{ class }}">
            {% if image.title %}<h5 class="card-title">{{ image.title }}</h5>{% endif %}
            {% if image.description %}<p class="card-text">{{ image.description }}</p>{% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% block main %}
    {% include '@frame-header' %}

    {% import _self as section %}

    {% set colClasses = 'col-md-' ~ (12 / imagecols) %}

    {% if images %}
    <div class="container-fluid">
        <div class="row">
            {% for image in images %}
                <div class="{{ colClasses }}">
                    <div class="card mb-4 {{ imageborder|default('border-0') }}">
                        {% if imageorient == 2 %}
                            {{ section.imageCaption(image, 'card-body') }}
                        {% endif %}

                        {{ section.image(image) }}

                        {% if imageorient == 1 %}
                            {{ section.imageCaption(image, 'card-body') }}
                        {% endif %}

                        {% if imageorient == 3 %}
                            {{ section.imageCaption(image, 'card-img-overlay text-white') }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
