{% extends column ? "@wrapper-frame" : "@wrapper-empty" %}

{% import "@macro-render" as render %}

{% set CType = 'gridelements-4columns' %}
{% set defaultClass = 'col-3' %}

{% block main %}
    <div class="row">
        {% for i in 0..3 %}
            {% if column[i] and column[i].data %}
                <div class="{{ column[i].class|default(defaultClass) }}">
                    {{ render.frames(column[i].data) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
