<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="extra">
	<!-- author -->
	<f:if condition="{newsItem.author}">
		<f:translate key="author" arguments="{0:newsItem.author}"/>
		|
	</f:if>

	<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
		<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
	</time>

    <f:if condition="{settings.templateLayout}=='dates' && {newsItem.archive}">
        <span class="date-end"> - <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.archive}</f:format.date></span>
    </f:if>

	<!-- category -->
	<f:if condition="{newsItem.firstCategory}">
		| <span class="label label-info">{newsItem.firstCategory.title}</span>
	</f:if>

	<f:if condition="{newsItem.tags}">
		| <span class="news-list-tags" itemprop="keywords">
		<f:for each="{newsItem.tags}" as="tag">
			<span class="label label-info">{tag.title}</span>
		</f:for>
	</span>
	</f:if>
</div>
</html>
