// News List
//
.news-list-item {
  margin-bottom: 4rem;

  .extra {
    font-weight: 400;
  }
  .headline {
    text-transform: none;
  }
}

// Pagination
//
.page-link {

  &.active,
  &:active,
  &.focus,
  &:focus {
    box-shadow: none;
  }
}
