<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<nav class="breadcrumb-section" aria-label="{f:translate(key: 'breadcrumb.label', extensionName: 'bootstrap_package')}">
    <div class="container">
        <p class="sr-only" id="breadcrumb">{f:translate(key: 'breadcrumb', extensionName: 'bootstrap_package')}</p>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="{item.link}">
                    <f:render section="BreadcrumbTitle" arguments="{item: breadcrumb.0, theme: theme, text_sr_only: 1}" />
                </a>
            </li>
            <f:if condition="{breadcrumb -> f:count()} > 2">
                <li class="breadcrumb-item">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="btn-bradcrumb" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="breadcrumb-text">...</span>
                            <span class="breadcrumb-icon">
                                <bk2k:inlineSvg src="/typo3conf/ext/dia_site_christfeinmechanik/Resources/Public/Icons/CorporateDesign/down.svg" width="12" height="16" />
                            </span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btn-bradcrumb">
                            <f:for each="{breadcrumb}" as="item" iteration="iterator">
                                <f:if condition="{iterator.cycle} > 1 && {iterator.cycle} < {breadcrumb -> f:count()}">
                                    <a class="dropdown-item" href="{item.link}">{item.title}</a>
                                </f:if>
                            </f:for>
                        </div>
                    </div>
                </li>
            </f:if>
            <f:if condition="{breadcrumbExtendedValue}">
                <f:then>
                    <li class="breadcrumb-item active" aria-current="page">
                        <span class="breadcrumb-text">{breadcrumbExtendedValue}</span>
                    </li>
                </f:then>
                <f:else>
                    <li class="breadcrumb-item active" aria-current="page">
                        <f:alias map="{breadcrumbLastIndex: '{f:cObject(typoscriptObjectPath: \'lib.helper.arrayLastIndexFromCount\', data=\'{count: \\\'{breadcrumb -> f:count()}\\\'}\')}'}">
                            <f:render section="BreadcrumbTitle" arguments="{item: '{breadcrumb.{breadcrumbLastIndex}}', theme: theme}" />
                        </f:alias>
                    </li>
                </f:else>
            </f:if>
        </ol>
    </div>
</nav>
<f:section name="BreadcrumbTitle">
    <f:if condition="{theme.breadcrumb.icon.enable} && {item.icon}">
        <span class="breadcrumb-icon">
            <bk2k:inlineSvg image="{item.icon.file}" width="{theme.breadcrumb.icon.width}" height="{theme.breadcrumb.icon.height}" />
        </span>
    </f:if>
    <f:if condition="{text_sr_only}">
        <f:then>
            <span class="breadcrumb-text sr-only">{item.title}</span>
        </f:then>
        <f:else>
            <span class="breadcrumb-text">{item.title}</span>
        </f:else>
    </f:if>
</f:section>
</html>
