{% extends column ? "@wrapper-frame" : "@wrapper-empty" %}

{% import "@macro-render" as render %}

{% set CType = 'gridelements-2columns' %}
{% set defaultClass = 'col-6' %}

{% block main %}
    <div class="row">
        {% for i in 0..1 %}
            {% if column[i] and column[i].data %}
                <div class="{{ column[i].class|default(defaultClass) }}">
                    {{ render.frames(column[i].data) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
