<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
    <f:spaceless>
        <f:if condition="{data.header_link}">
            <f:then>
                <f:link.typolink parameter="{data.header_link}" class="{buttonClasses}">
                    {data.header}
                </f:link.typolink>
            </f:then>
            <f:else>
                <button class="{buttonClasses}">
                    {data.header}
                </button>
            </f:else>
        </f:if>
    </f:spaceless>
</f:section>
</html>
