<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:switch expression="{item.data.header_layout}">
    <f:case value="1">
        <h1 class="carousel-item-header{f:if(condition: item.data.header_class, then: ' {item.data.header_class}')}{f:if(condition: item.data.header_position, then: ' text-{item.data.header_position}')}"><f:render section="header" arguments="{'header': item.data.header}" /></h1>
    </f:case>
    <f:case value="2">
        <h2 class="carousel-item-header{f:if(condition: item.data.header_class, then: ' {item.data.header_class}')}{f:if(condition: item.data.header_position, then: ' text-{item.data.header_position}')}"><f:render section="header" arguments="{'header': item.data.header}" /></h2>
    </f:case>
    <f:case value="3">
        <h3 class="carousel-item-header{f:if(condition: item.data.header_class, then: ' {item.data.header_class}')}{f:if(condition: item.data.header_position, then: ' text-{item.data.header_position}')}"><f:render section="header" arguments="{'header': item.data.header}" /></h3>
    </f:case>
    <f:case value="4">
        <h4 class="carousel-item-header{f:if(condition: item.data.header_class, then: ' {item.data.header_class}')}{f:if(condition: item.data.header_position, then: ' text-{item.data.header_position}')}"><f:render section="header" arguments="{'header': item.data.header}" /></h4>
    </f:case>
    <f:case value="5">
        <h5 class="carousel-item-header{f:if(condition: item.data.header_class, then: ' {item.data.header_class}')}{f:if(condition: item.data.header_position, then: ' text-{item.data.header_position}')}"><f:render section="header" arguments="{'header': item.data.header}" /></h5>
    </f:case>
    <f:case value="6">
        <h6 class="carousel-item-header{f:if(condition: item.data.header_class, then: ' {item.data.header_class}')}{f:if(condition: item.data.header_position, then: ' text-{item.data.header_position}')}""><f:render section="header" arguments="{'header': item.data.header}" /></h6>
    </f:case>
    <f:case value="10">
        <div class="carousel-item-header{f:if(condition: item.data.header_class, then: ' {item.data.header_class}')}{f:if(condition: item.data.header_position, then: ' text-{item.data.header_position}')}"><f:render section="header" arguments="{'header': item.data.header}" /></div>
    </f:case>
    <f:case value="100">
        <f:comment> -- do not show header --</f:comment>
    </f:case>
    <f:defaultCase>
        <div class="carousel-item-header{f:if(condition: item.data.header_class, then: ' {item.data.header_class}')}{f:if(condition: item.data.header_position, then: ' text-{item.data.header_position}')}"><f:render section="header" arguments="{'header': item.data.header}" /></div>
    </f:defaultCase>
</f:switch>


<f:if condition="{item.data.subheader}">
    <f:switch expression="{item.data.subheader_layout}">
        <f:case value="1">
            <h1 class="carousel-item-subheader{f:if(condition: item.data.subheader_class, then: ' {item.data.subheader_class}')}{f:if(condition: item.data.subheader_position, then: ' text-{item.data.subheader_position}')}"><f:render section="subheader" arguments="{'subheader': item.data.subheader}" /></h1>
        </f:case>
        <f:case value="2">
            <h2 class="carousel-item-subheader{f:if(condition: item.data.subheader_class, then: ' {item.data.subheader_class}')}{f:if(condition: item.data.subheader_position, then: ' text-{item.data.subheader_position}')}"><f:render section="subheader" arguments="{'subheader': item.data.subheader}" /></h2>
        </f:case>
        <f:case value="3">
            <h3 class="carousel-item-subheader{f:if(condition: item.data.subheader_class, then: ' {item.data.subheader_class}')}{f:if(condition: item.data.subheader_position, then: ' text-{item.data.subheader_position}')}"><f:render section="subheader" arguments="{'subheader': item.data.subheader}" /></h3>
        </f:case>
        <f:case value="4">
            <h4 class="carousel-item-subheader{f:if(condition: item.data.subheader_class, then: ' {item.data.subheader_class}')}{f:if(condition: item.data.subheader_position, then: ' text-{item.data.subheader_position}')}"><f:render section="subheader" arguments="{'subheader': item.data.subheader}" /></h4>
        </f:case>
        <f:case value="5">
            <h5 class="carousel-item-subheader{f:if(condition: item.data.subheader_class, then: ' {item.data.subheader_class}')}{f:if(condition: item.data.subheader_position, then: ' text-{item.data.subheader_position}')}"><f:render section="subheader" arguments="{'subheader': item.data.subheader}" /></h5>
        </f:case>
        <f:case value="6">
            <h6 class="carousel-item-subheader{f:if(condition: item.data.subheader_class, then: ' {item.data.subheader_class}')}{f:if(condition: item.data.subheader_position, then: ' text-{item.data.subheader_position}')}""><f:render section="subheader" arguments="{'subheader': item.data.subheader}" /></h6>
        </f:case>
        <f:case value="10">
            <div class="carousel-item-subheader{f:if(condition: item.data.subheader_class, then: ' {item.data.subheader_class}')}{f:if(condition: item.data.subheader_position, then: ' text-{item.data.subheader_position}')}"><f:render section="subheader" arguments="{'subheader': item.data.subheader}" /></div>
        </f:case>
        <f:case value="100">
            <f:comment> -- do not show subheader --</f:comment>
        </f:case>
        <f:defaultCase>
            <div class="carousel-item-subheader{f:if(condition: item.data.subheader_class, then: ' {item.data.subheader_class}')}{f:if(condition: item.data.subheader_position, then: ' text-{item.data.header_position}')}"><f:render section="subheader" arguments="{'subheader': item.data.subheader}" /></div>
        </f:defaultCase>
    </f:switch>
</f:if>

<f:section name="header">
    <f:format.htmlentitiesDecode>{header}</f:format.htmlentitiesDecode>
</f:section>
<f:section name="subheader">
    <f:format.htmlentitiesDecode>{subheader}</f:format.htmlentitiesDecode>
</f:section>
</html>
