<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:format.html>&copy; {f:format.date(date:'now', format:'%Y')} {theme.copyright.text}</f:format.html>
</html>
