<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <!--googleoff: all-->
    <div class="flyout">
        <div class="flyout__nav">
            <button class="btn btn-secondary">Kontakt & Karriere</button>
        </div>
        <div class="flyout__content">
            <address class="address">
                <p class="address-title">
                    <strong>CHRIST-Feinmechanik</strong></p>
                <p class="address-address">An der Alten Bach 2<br> 35428 Langgöns</p>
                <p class="address-phone">+49 (0) 6403 / 9015-0</p>
                <p class="address-email">
                    <f:link.email email="info@christ-feinmechanik.com" />
                </p>
            </address>
            <br/>
            <div class="h5">Kontakt</div>
            <p>Sie haben Fragen zur unseren Produkten oder Reparaturanfragen?</p>
            <f:link.page pageUid="7" class="btn btn-default" title="Jetzt kontaktieren">Jetzt kontaktieren</f:link.page>
            <br/><br/>
            <div class="h5">Karriere</div>
            <p>Wir bei CHRIST Feinmechanik leben seit Jahren eine Unternehmenskultur, in der der Mensch im Mittelpunkt steht.</p>
            <f:link.page pageUid="41" class="btn btn-default" title="Jetzt bewerben">Jetzt bewerben</f:link.page>
        </div>
    </div>
    <!--googleon: all-->
</html>
