<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="section footer-section footer-section-content">
    <div class="container">
        <div class="section-row">
            <div class="section-column footer-section-content-column footer-section-content-column-left">
                <div class="footer-logo">
                    <f:image src="EXT:dia_site_christfeinmechanik/Resources/Public/Images/Logo/logo-christ-feinmechanik.svg" alt="CHRIST-Feinmechanik Qualität - Logo" height="50" />
                </div>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '10', slide: '-1'}" />
                <div class="footer-seal">
                    <f:image class="float-left" src="EXT:dia_site_christfeinmechanik/Resources/Public/Images/Seal/christ-quality.png" alt="CHRIST-Feinmechanik Qualität" height="50" />
                    <f:image src="EXT:dia_site_christfeinmechanik/Resources/Public/Images/Seal/eu.png" alt="CHRIST-Feinmechanik - EU" height="50" />
                </div>
            </div>
            <div class="section-column footer-section-content-column footer-section-content-column-middle">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '11', slide: '-1'}" />
            </div>
            <div class="section-column footer-section-content-column footer-section-content-column-right">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '12', slide: '-1'}" />
            </div>
        </div>
    </div>
</section>
</html>
