//
// Frame
//
.frame {
  //padding-top: map-get($padding, "medium");
  //padding-bottom: map-get($padding, "medium");

  &.bg-image,
  &.bg-color {
    //padding-top: map-get($padding, "medium");
    //padding-bottom: map-get($padding, "medium");
  }

  #page-header + &,
  .section-border & {

    &.frame-no-backgroundimage {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;

      .frame-container {
        max-width: none;
        padding: 0;
      }
    }
  }
}

// Frame Header
//
.frame-header {

  .frame-container .frame-inner > & {
    padding-bottom: 2rem;
    /*
    @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
      @include media-breakpoint-up($breakpoint) {
        $scaling: map-get($margin, "small");;
        padding-bottom: (2 * $scaling);
      }
    }
    */
  }
}

// Frame Container
//
.frame-container {

  .frame-container &,
  .frame-container-fluid > & {
    max-width: none;
    padding-right: 0;
    padding-left: 0;
  }
}

// Frame Inner Spacing
//
@each $name, $scaling in $frame-inner-spacing-scaling-custom {
  .frame-space-inner-before-#{$name} {
    padding-top: ($frame-inner-spacing-custom * $scaling);

    @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
      @include media-breakpoint-up($breakpoint) {
        $scalingBreakpoint: map-get($frame-inner-spacing-scaling, $breakpoint);
        padding-top: ($frame-inner-spacing-custom * $scaling) * $scalingBreakpoint;
      }
    }
  }
  .frame-space-inner-after-#{$name} {
    padding-bottom: ($frame-inner-spacing-custom * $scaling);

    @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
      @include media-breakpoint-up($breakpoint) {
        $scalingBreakpoint: map-get($frame-inner-spacing-scaling, $breakpoint);
        padding-bottom: ($frame-inner-spacing-custom * $scaling) * $scalingBreakpoint;
      }
    }
  }
}

// Frame Indent
//
.frame-indent-left-small {
  .frame-inner {
    @include media-breakpoint-up(sm) {
      margin-left: 10%;
    }
  }
}

.frame-indent {
  .frame-inner {
    @include media-breakpoint-up(sm) {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}

.frame-indent-left {
  @include media-breakpoint-up(sm) {
    .frame-inner {
      margin-left: 10%;
    }

    &-50 {
      .frame-inner {
        margin-left: 50%;
      }
    }
  }

}

.frame-indent-right {
  @include media-breakpoint-up(sm) {
    .frame-inner {
      margin-right: 10%;
    }

    &-50 {
      .frame-inner {
        margin-right: 50%;
      }
    }
  }
}

// Frame Background
//
.frame-background-cf-primary,
.frame-inner-background-cf-primary .frame-container:last-child .frame-inner {
  background: $primary;
  color: #fff;

  a,
  p {
    color: #fff;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fff;
  }

  .well {
    background: $gray-600;
  }
}

@each $key in map-keys($grays) {
  .frame-background-gray-#{$key},
  .frame-inner-background-gray-#{$key} .frame-container:last-child .frame-inner {
    background: map-get($grays, #{$key});
    //color: map-get($grays-font, #{$key});

    a,
    p {
      //color: map-get($grays-font-link, #{$key});

      &:hover {
        //color: map-get($grays-font-hover, #{$key});
      }
    }
  }
}

// Frame Background
// white-gray-100
.frame-background-white-gray-100 {
  @include media-breakpoint-up(md) {
    overflow: hidden;
    background: linear-gradient(to right, $white 50%, $gray-100 50%);

    .frame-header {
      position: relative;
      z-index: 1;
    }

    .frame-container > .frame-inner > .row > div {
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -12rem;
        right: 0;
        top: -12rem;
      }
      &:first-child {
        padding-right: 3.5rem;

        &:before {
          background: $white;
        }
      }
      &:last-child {
        padding-left: 3.5rem;

        &:before {
          background: $gray-100;
        }
      }
    }
  }
}

