//
// Frame Inner Spacing
//
$frame-inner-spacing: map-get($padding, 'small');
$frame-inner-spacing-scaling: ();
$frame-inner-spacing-scaling: map-merge(
    (
      xs: 1,
      sm: 1,
      md: 2,
      lg: 2,
      xl: 3
    ),
    $frame-inner-spacing-scaling
);

//
// Frame Outer Spacing
//
$frame-outer-spacing: map-get($margin, 'extraSmall');
$frame-outer-spacing-scaling: ();
$frame-outer-spacing-scaling: map-merge(
    (
      none: 0,
      extra-small: 1,
      small: 2,
      medium: 4,
      large: 6,
      extra-large: 9
    ),
    $frame-outer-spacing-scaling
);

//
// Frame Inner Spacing
//
$frame-inner-spacing-custom: map-get($margin, 'extraSmall');
$frame-inner-spacing-scaling-custom: ();
$frame-inner-spacing-scaling-custom: map-merge(
    (
      none: 0,
      extra-small: 1,
      small: 2,
      medium: 4,
      large: 6,
      extra-large: 9
    ),
    $frame-outer-spacing-scaling
);

