<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">

    <f:variable name="imageConfig">{settings.responsiveimages.contentelements.textpic.centered_right}</f:variable>
    <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{imageConfig.multiplier}" gutters="{imageConfig.gutters}" corrections="{imageConfig.corrections}" />
    <div class="textpic textpic-centered textpic-right">
        <div class="textpic-item textpic-gallery">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </div>
        <div class="textpic-item textpic-text">
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </div>

</f:section>
</html>
