{% extends column ? "@wrapper-frame" : "@wrapper-empty" %}

{% import "@macro-render" as render %}

{% set CType = 'gridelements-container' %}
{% set containerType = containerType ? 'container-' ~ containerType : 'container' %}

{% block main %}
    <div class="{{ containerType }}">
        {{ render.frames(data) }}
    </div>
{% endblock %}
