
// missing in bootstrap_package v12
.frame-container {
  @include make-container-max-widths();
}

.carousel {
  .carousel-item {
    .valign {
      margin: 0 auto;
      height: 100%;
      @each $breakpoint, $container-max-width in $container-max-widths {
        @include media-breakpoint-up($breakpoint) {
          max-width: $container-max-width - $grid-gutter-width;
        }
      }
    }
  }
}

.footer-section-content a:not(.btn):not(.cc-btn) {
  a:not(.btn):not(.cc-btn) {
    color: #fff;
  }
}

.frame-header {
  margin-bottom: unset;
  > *:last-child {
    margin-bottom: $spacer;
  }
}

.frame-type-header {
  .frame-header {
    *:last-child {
      margin-bottom: 0;
    }
  }
}

.textmedia,
.textpic {
  gap: 0;
  margin-left: -20px;
  margin-right: -20px;
}

@include media-breakpoint-up('md') {
  .textmedia-right,
  .textmedia-left,
  .textpic-right,
  .textpic-left {
    .textmedia-item,
    .textpic-item {
      width: calc(50%);
    }
  }
}

.frame-space-before-none {
  margin-top: 0rem;
}

.frame-space-after-none {
  margin-bottom: 0rem;
}

.frame-space-before-extra-small {
  margin-top: 1rem;
}

.frame-space-after-extra-small {
  margin-bottom: 1rem;
}

.frame-space-before-small {
  margin-top: 1.5rem;
}

.frame-space-after-small {
  margin-bottom: 1.5rem;
}

.frame-space-before-medium {
  margin-top: 2rem;
}

.frame-space-after-medium {
  margin-bottom: 2rem;
}

.frame-space-before-large {
  margin-top: 2.5rem;
}

.frame-space-after-large {
  margin-bottom: 2.5rem;
}

.frame-space-before-extra-large {
  margin-top: 3rem;
}

.frame-space-after-extra-large {
  margin-bottom: 3rem;
}