@media (max-width: 767px) {
    .dia-tabs .nav-tabs {
        display: none;
    }

    .dia-tabs .tab-content .tab-pane {
        display: block;
    }
}

@media (min-width: 768px) {
    .dia-tabs .tab-content .card-header {
        display: none;
    }

    .dia-tabs .tab-content .collapse {
        display: block;
    }

    .dia-tabs .tab-content .card {
        border: 0 none;
    }

    .dia-tabs .tab-content .card .card-body {
        padding: 1em 0 0 0;
    }
}