{% extends "@wrapper-empty" %}

{% block main %}
    <{{ tag_list }} class="{{ class_list_additional }}">

        {% for item in list_item %}
            {% if item is iterable %}
                {% for subitem_index, subitem in item %}
                    <{{ tag_item[subitem_index] }}>{{ subitem }}</{{ tag_item[subitem_index] }}>
                {% endfor %}
            {% else %}
                <{{ tag_item }}>{{ item }}</{{ tag_item }}>
            {% endif %}

        {% endfor %}
    </{{ tag_list }}>
{% endblock %}
