//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  letter-spacing: .04rem;
  text-transform: uppercase;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .well &,
  .bp-page-footer & {
    color: $white;
  }
}
