<div class="cookie-info bg-primary text-white fixed-top p-3">
    <div class="container">
        <button type="button" class="cookie-info-close close pl-4 text-white" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <div class="cookie-info-text">
            {{ cookieInfoText|format('<u><a href="#" class="text-white">' ~ cookieLinkText ~ '</a></u>') }}

            <u>
                <a href="#" class="cookie-info-accept text-white">
                    {{ cookieInfoAccept }}
                </a>
            </u>
        </div>
    </div>
</div>

<div id="cookieconsent">
    <div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc"
         class="cc-window cc-banner cc-type-info cc-theme-block cc-bottom " style="">
        <!--googleoff: all-->
        <div class="cc-container">
            <span id="cookieconsent:desc" class="cc-message">{{ cookieInfoText|format('<u><a href="#" class="text-white">' ~ cookieLinkText ~ '</a></u>') }}</span>
            <div class="cc-compliance">
                <a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">{{ cookieInfoAccept }}</a>
            </div>
        </div>
        <!--googleon: all-->
    </div>
</div>
