.cc-btn {
  cursor: pointer;
}

.cc-btn.focus, .cc-btn:focus {
  box-shadow: none;
}

.cc-btn:not(:disabled):not(.disabled).active:focus,
.cc-btn:not(:disabled):not(.disabled):active:focus,
.show>.cc-btn.dropdown-toggle:focus {
  box-shadow: none;
}
