$cookieconsent-zindex: 1080;
$cookieconsent-bg: $primary;
$cookieconsent-color: color-yiq($primary);
$cookieconsent-link-color: $white;
$cookieconsent-button-bg: $secondary;
$cookieconsent-button-highlight-bg: transparent;
