{% extends header ? "@wrapper-frame" : "@wrapper-empty" %}

{% set CType = 'button' %}

{% if header_position %}
    {% set class = ['text-' ~ header_position] %}
{% endif %}

{% set typeClass = header_layout ? ' btn-' ~ header_layout : '' %}
{% set sizeClass = header_style ? ' btn-' ~ header_style : '' %}
{% set blockClass = button_display_block ? ' btn-block' : '' %}
{% set disabled = disabled ? ' disabled' : '' %}

{% block main %}
    <button class="btn{{ typeClass }}{{ sizeClass }}{{ blockClass }}"{{ disabled }}>
        {{ header }}
    </button>
{% endblock %}
