<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <div class="{rowClasses}">
        <div class="{colOneClasses}">
            <f:format.raw>{data.tx_gridelements_view_columns.10}</f:format.raw>
        </div>
        <div class="{colTwoClasses}">
            <f:format.raw>{data.tx_gridelements_view_columns.20}</f:format.raw>
        </div>
        <div class="{colThreeClasses}">
            <f:format.raw>{data.tx_gridelements_view_columns.30}</f:format.raw>
        </div>
        <div class="{colFourClasses}">
            <f:format.raw>{data.tx_gridelements_view_columns.40}</f:format.raw>
        </div>
        <div class="{colFiveClasses}">
            <f:format.raw>{data.tx_gridelements_view_columns.50}</f:format.raw>
        </div>
        <div class="{colSixClasses}">
            <f:format.raw>{data.tx_gridelements_view_columns.60}</f:format.raw>
        </div>
    </div>
</f:spaceless>
</html>