<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.flexform_sDEF_multiopen}">
    <f:then>
        <f:for each="{data.tx_gridelements_columns_data.10}" as="column" iteration="columnIterator">
            <f:alias map="{accordionId: 'accordion-{data.uid}-{column.raw.uid}'}">
                <div id="{accordionId}" class="accordion" role="tablist">
                    <f:render section="column" arguments="{_all}"/>
                </div>
            </f:alias>
        </f:for>
    </f:then>
    <f:else>
        <f:alias map="{accordionId: 'accordion-{data.uid}'}">
            <div id="{accordionId}" class="accordion" role="tablist">
                <f:for each="{data.tx_gridelements_columns_data.10}" as="column" iteration="columnIterator">
                    <f:render section="column" arguments="{_all}"/>
                </f:for>
            </div>
        </f:alias>
    </f:else>
</f:if>

<f:section name="column">
    <div class="card">
        <div class="card-header" role="tab" id="h{column.raw.uid}">
            <h5 class="mb-0">
                <a class="{f:if(condition: '{columnIterator.cycle}=={data.flexform_sDEF_initialopened}', else: 'collapsed')}"
                   data-toggle="collapse"
                   href="{f:uri.page(absolute: 1, addQueryString: 1, section: 'a{column.raw.uid}')}"
                   data-target="#a{column.raw.uid}" data-scroll="1"
                   aria-expanded="{f:if(condition: '{columnIterator.cycle}=={data.flexform_sDEF_initialopened}', then: 'true', else: 'false')}"
                   aria-controls="a{column.raw.uid}">
                    {column.raw.header}
                    <f:if condition="{data.flexform_sDEF_arrows}">
                        <span class="icon icon-arrow-down"></span>
                    </f:if>
                </a>
            </h5>
        </div>

        <div id="a{column.raw.uid}"
             class="collapse{f:if(condition: '{columnIterator.cycle}=={data.flexform_sDEF_initialopened}', then: ' show')}"
             role="tabpanel" aria-labelledby="h{column.raw.uid}" data-parent="#{accordionId}">
            <div class="card-body">
                <f:format.raw>{column.content}</f:format.raw>
            </div>
        </div>
    </div>
</f:section>
</html>