<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <div class="{rowClasses}">
        <f:if condition="{data.flexform_general_flexcols}">
            <f:then>
                <f:for each="{data.tx_gridelements_columns_data.10}" as="column">
                    <div class="{colOneClasses}">
                        <f:format.raw>{column.content}</f:format.raw>
                    </div>
                </f:for>
            </f:then>
            <f:else>
                <div class="{colOneClasses}">
                    <f:format.raw>{data.tx_gridelements_view_columns.10}</f:format.raw>
                </div>
            </f:else>
        </f:if>
    </div>
</f:spaceless>
</html>
