<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:if condition="{files}">
        <div class="row mt-4">
            <f:for each="{files}" as="file">
                <div class="{colClasses}">
                    <div class="card mb-4">
                        <f:image image="{file}" class="card-img-top img-fluid"
                                 width="{data.flexform_general_itemWidth}c"
                                 height="{data.flexform_general_itemHeight}c"/>
                        <f:if
                            condition="{file.originalFile.properties.title} || {file.originalFile.properties.description}">
                            <div class="card-body">
                                <f:if condition="{file.originalFile.properties.title}"><h5 class="card-title">
                                    {file.originalFile.properties.title}</h5></f:if>
                                <f:if condition="{file.originalFile.properties.description}"><p class="card-text">
                                    {file.originalFile.properties.description}</p></f:if>
                            </div>
                        </f:if>
                    </div>
                </div>
            </f:for>
        </div>
    </f:if>
</f:spaceless>
</html>
