<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <div class="{data.flexform_general_containerType}">
        <f:format.raw>{data.tx_gridelements_view_columns.10}</f:format.raw>
    </div>
</f:spaceless>
</html>