<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="dia-tabs">
    <f:render section="tabNav" arguments="{_all}"/>
    <f:render section="tabContent" arguments="{_all}"/>
</div>

<f:section name="tabNav">
    <ul class="nav nav-tabs" id="tabs-{data.uid}" role="tablist">
        <f:for each="{data.tx_gridelements_columns_data.10}" as="column" iteration="columnIterator">
            <li class="nav-item">
                <a href="{f:uri.page(addQueryString: 1, section: 't{column.raw.uid}')}"
                   class="nav-link{f:if(condition: '{columnIterator.cycle}==1', then: ' active')}"
                   data-target="#t{column.raw.uid}" data-toggle="tab" role="tab" aria-controls="t{column.raw.uid}">{column.raw.header}</a>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="tabContent">
    <div id="tabs-c-{data.uid}" class="tab-content">
        <f:for each="{data.tx_gridelements_columns_data.10}" as="column" iteration="columnIterator">
            <div
                class="card tab-pane{f:if(condition: '{columnIterator.cycle}==1', then: ' active')} {data.flexform_sDEF_effect}"
                id="t{column.raw.uid}" role="tabpanel">
                <div class="card-header" role="tab" id="h{column.raw.uid}">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#tabs-c-{data.uid}"
                           href="{f:uri.page(absolute: 1, addQueryString: 1, section: 'a{column.raw.uid}')}"
                           data-target="#a{column.raw.uid}" data-scroll="1"
                           aria-expanded="{f:if(condition: '{columnIterator.cycle}==1', then: 'true', else: 'false')}"
                           aria-controls="a{column.raw.uid}">
                            {column.raw.header}
                            <f:if condition="{data.flexform_sDEF_arrows}">
                                <span class="icon icon-arrow-down"></span>
                            </f:if>
                        </a>
                    </h5>
                </div>

                <div id="a{column.raw.uid}"
                     class="collapse{f:if(condition: '{columnIterator.cycle}==1', then: ' show')}" role="tabpanel"
                     data-parent="#tabs-c-{data.uid}" aria-labelledby="h{column.raw.uid}">
                    <div class="card-body">
                        <f:format.raw>{column.content}</f:format.raw>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</f:section>
</html>
