<link rel="apple-touch-icon" sizes="180x180" href="PWA/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="PWA/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="PWA/favicon-16x16.png">
<link rel="manifest" href="PWA/site.webmanifest">
<link rel="mask-icon" href="PWA/safari-pinned-tab.svg" color="#84bd00">
<link rel="shortcut icon" href="PWA/favicon.ico">
<meta name="apple-mobile-web-app-title" content="DIA">
<meta name="application-name" content="DIA">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="PWA/browserconfig.xml">
<meta name="theme-color" content="#ffffff">