.frame-type-menu_sitemap {
  // reset
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: #333;
    display: block;
    padding: 4px 0;

    &:hover, &:focus {
      text-decoration: none;
      color: darken($link-color, 15%);
    }
  }

  > ul > li {
    > a {
      display: none;
    }

    > ul {
      > li {
        > a {
          font-size: 28px;
          font-weight: 300;
          border-bottom: 1px solid #d6d6d6;
          padding: 5px 0;
          margin-bottom: 20px;
        }

        > ul {
          margin: 10px 0 30px;
          @include media-breakpoint-up(md) {
            column-count: 2;
          }
          @include media-breakpoint-up(lg) {
            column-count: 4;
          }

          > li {
            display: inline-block;
            margin-bottom: 26px;
            position: relative;
            vertical-align: top;
            width: 100%;

            > a {
              font-size: 18px;
              font-weight: 600;
              padding: 0 0 10px;
            }
          }
        }
      }
    }
  }
}
