
.dia_ge-date,
.dia_ge-title {
    padding-left: 8px;
}

.t3-grid-container-wrapper {
    margin: -10px;
}

.t3-grid-container-wrapper .t3-grid-container {
    margin: 0;
}

.t3-grid-container-wrapper .t3-grid-container-title-10 {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 10px;
    margin: 0;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.t3-grid-container-wrapper .t3-grid-cell {
    background-color: rgba(255, 255, 255, 0.85);
}

.t3-grid-type-Container {
    background-color: #292929;
}

.t3-grid-type-Tabs,
.t3-grid-type-Accordion {
    background-color: #2C3E50;
    background-image: linear-gradient(315deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.t3-grid-type-2Columns,
.t3-grid-type-3Columns,
.t3-grid-type-4Columns,
.t3-grid-type-5Columns,
.t3-grid-type-6Columns {
    background-image: linear-gradient(90deg, transparent 0px, transparent 10%, rgba(255, 255, 255, 0.15) 10%, rgba(255, 255, 255, 0.15) 90%, transparent 90%, transparent 100%, transparent);
}

.t3-grid-type-2Columns {
    background-color: #7F8C8D;
    background-size: 50% 100%;
}

.t3-grid-type-3Columns {
    background-color: #C0392B;
    background-size: 33.33333% 100%;
}

.t3-grid-type-4Columns {
    background-color: #16A085;
    background-size: 25% 100%;
}

.t3-grid-type-5Columns {
    background-color: #16A085;
    background-size: 20% 100%;
}

.t3-grid-type-6Columns {
    background-color: #16A085;
    background-size: 16.66666% 100%;
}