<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
	<div id="c{data.uid}" class="element {elementClasses} {spaceClasses}">
		<f:if condition="{data._LOCALIZED_UID}">
			<a id="c{data._LOCALIZED_UID}"></a>
		</f:if>
		<f:if condition="{data.header}">
			<a id="{f:cObject(typoscriptObjectPath: 'lib.format.filterName', data: data)}"></a>
		</f:if>
		<f:render section="Before" optional="true">
			<f:render partial="DropIn/Before/All" arguments="{_all}" />
		</f:render>
		<f:render section="Header" optional="true">
			<f:render partial="Header/All" arguments="{_all}" />
		</f:render>
		<f:render section="Main" optional="true" />
		<f:render section="Footer" optional="true">
			<f:render partial="Footer/All" arguments="{_all}" />
		</f:render>
		<f:render section="After" optional="true">
			<f:render partial="DropIn/After/All" arguments="{_all}" />
		</f:render>
	</div>
</f:spaceless>
</html>
