// Navbar
//
.navbar {}

// Navbar - Main navigation
//
.navbar.navbar-mainnavigation {
  box-shadow: 0 8px 4px 0px rgba(0,0,0,.02);

  .navbar-nav {

    @include media-breakpoint-up(lg) {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    &> li {
      .nav-link {
        color: $primary;
        text-transform: uppercase;
        font-weight: $font-weight-normal;
        letter-spacing: .04rem;
        padding-bottom: .825rem;
        padding-top: .825rem;

        &:before {
          background: $secondary-2;
        }

        &:focus,
        &:hover {

          &:before {
            opacity: .6;
          }
        }
      }

      &.active,
      &.show {

        .nav-link {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }

  .dropdown-menu {
    border: none;
    box-shadow: 0 8px 4px 4px rgba(0,0,0,.02);
  }

  .navbar-brand-image {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-seal {
    float: right;
    display: none;
    margin-left: 1rem;
    width: 80px;

    img {
      float: right;
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}


