<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
    <!--TYPO3SEARCH_end-->
    <f:if condition="{news}">
        <f:then>
            <div class="news-list-view{f:if(condition: '{settings.templateLayout}', then: ' news-list-view-')}{settings.templateLayout}" id="news-container-{contentObjectData.uid}">
                <f:if condition="{settings.hidePagination}">
                    <f:then>
                        <f:if condition="{settings.templateLayout}=='dates'">
                            <div class="row">
                        </f:if>
                        <f:for each="{news}" as="newsItem" iteration="iterator">
                            <f:switch expression="{settings.templateLayout}">
                                <f:case value="dates">
                                    <f:render partial="List/Item/Dates" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:case>
                                <f:defaultCase>
                                    <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:defaultCase>
                            </f:switch>
                        </f:for>
                        <f:if condition="{settings.templateLayout}=='dates'">
                            </div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:if condition="{settings.templateLayout}=='dates'">
                            <div class="row">
                        </f:if>
                        <f:if condition="{settings.list.paginate.insertAbove}">
                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>
                        <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                            <f:switch expression="{settings.templateLayout}">
                                <f:case value="dates">
                                    <f:render partial="List/Item/Dates" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:case>
                                <f:defaultCase>
                                    <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:defaultCase>
                            </f:switch>
                        </f:for>
                        <f:if condition="{settings.list.paginate.insertBelow}">
                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>
                        <f:if condition="{settings.templateLayout}=='dates'">
                            </div>
                        </f:if>
                    </f:else>
                </f:if>
            </div>
        </f:then>
        <f:else>
            <div class="no-news-found">
                <f:translate key="list_nonewsfound" />
            </div>
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
