{% extends column ? "@wrapper-frame" : "@wrapper-empty" %}

{% import "@macro-render" as render %}

{% set CType = 'gridelements-column' %}
{% set defaultClass = 'col-12' %}

{% block main %}
    <div class="row">
        {% for column in data %}
            <div class="{{ column.class|default(defaultClass) }}">
                {{ render.frames(column.data) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
