{% extends bodytext ? "@wrapper-frame" : "@wrapper-empty" %}

{% set CType = 'text' %}

{% block main %}
    {% include '@frame-header' %}

    {% include template_from_string(bodytext) %}
{% endblock %}
