{% extends '@page-layout-default' %}

{% import "@macro-render" as render %}

{% block header %}
    {{ render.frames(header) }}
{% endblock %}

{% block main %}
    {{ render.frames(main) }}
{% endblock %}
