{% set element_name = CType is defined ? CType : _self.handle %}

{% block element_wrapper %}
    <!-- ### Begin: Element {{ element_name }} ### -->
    {% block header %}{% endblock %}
    {% block main %}{% endblock %}
    <!-- ### End: Element {{ element_name }} ### -->
{% endblock %}
