{% set CType = CType|default('') %}
{% set layout = layout|default(0) %}

{% set frameClasses = ['frame'] %}

{% if CType %}
    {% set frameClasses = frameClasses|merge(['frame-type-' ~ CType]) %}
{% endif %}

{% set frameClasses = frameClasses|merge(['frame-layout-' ~ layout]) %}

{% if space_before_class %}
    {% set frameClasses = frameClasses|merge(['margin-above-' ~ space_before_class]) %}
{% endif %}

{% if space_after_class %}
    {% set frameClasses = frameClasses|merge(['margin-below-' ~ space_after_class]) %}
{% endif %}

{% if space_inner_before_class %}
    {% set frameClasses = frameClasses|merge(['padding-above-' ~ space_inner_before_class]) %}
{% endif %}

{% if space_inner_after_class %}
    {% set frameClasses = frameClasses|merge(['padding-below-' ~ space_inner_after_class]) %}
{% endif %}

{% if class %}
    {% if class is not iterable %}
        {% set class = [class] %}
    {% endif %}
    {% set frameClasses = frameClasses|merge(class) %}
{% endif %}

{% block element_wrapper %}
    <!-- ### Begin: Element {{ CType }} ### -->
    <div class="{{ frameClasses|join(' ') }}">
        <a id="#{{ CType }}"></a>
        {% block header %}{% endblock %}
        {% block main %}{% endblock %}
    </div>
    <!-- ### End: Element {{ CType }} ### -->
{% endblock %}
