.custom-control-label {
  text-transform: none;
}

.form-group {
  margin-bottom: 1.5rem;
}

.clearfix {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  margin-bottom: 1.5rem;

  h2 {
    font-size: 1.35em;
    flex-grow: 1;
  }

  p{
    padding-left: 1.5em;
    size: 0.8em;
    color: #1c2b52;
  }
}