{% macro menu(pages, class, classItem, classLink) %}
    {% import _self as menu %}

    {% if pages %}
        <ul class="{{ class|default('nav') }}">
            {% for page in pages %}
                <li class="{{ classItem|default('nav-item') }}">
                    <a href="#" class="{{ classLink|default('nav-link') }} {{ page.class }}" title="{{ page.name }}">
                        {% if page.icon is not empty %}<span class="{{ page.icon }}"></span>{% endif %}
                        {{ page.name }}
                    </a>
                    {% if page.pages %}
                        {{ menu.menu(page.pages) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}