{% macro frames(frames) %}
    {% import _self as render %}

    {% if frames %}
        {% if frames.0 is iterable %}
            {% for frame in frames %}
                {{ render.frames(frame) }}
            {% endfor %}
        {% else %}
            {% if frames.context is not empty %}
                {% include "@frame-" ~ frames.type with frames.context %}
            {% else %}
                {% include "@frame-" ~ frames.type %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}
