<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
    <f:if condition="{menu}">
        <div class="toc">
            <div id="toctitle">
                <f:render partial="Header/All" arguments="{_all}" />
            </div>
            <f:for each="{menu}" as="page">
                <f:if condition="{page.content}">
                    <ul>
                        <f:for each="{page.content}" as="element" iteration="menuIterator">
                            <li class="toclevel-1 tocsection-{menuIterator.index}">
                                <f:if condition="{element.data.header}">
                                    <f:then>
                                        <a class="anchor" href="{page.link}#{f:cObject(typoscriptObjectPath: 'lib.format.filterName', data: element.data)}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{element.data.header}">
                                        <span>{element.data.header}</span>
                                        </a>
                                    </f:then>
                                    <f:else>
                                        <a class="anchor" href="{page.link}#c{element.data.uid}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{element.data.header}">
                                        <span>{element.data.header}</span>
                                        </a>
                                    </f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </f:if>
            </f:for>
        </div>
    </f:if>
</f:section>
</html>
