{% extends "@wrapper-frame" %}

{% set CType = 'bullets' %}

{% block main %}
    {% include "@frame-header" %}

    {% if bullets_type == 1 %}
        {% if items %}
            <ol>
                {% for item in items %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ol>
        {% endif %}
    {% elseif bullets_type == 2 %}
        {% if items %}
            <dl>
                {% for item in items %}
                    <dd>{{ item }}</dd>
                {% endfor %}
            </dl>
        {% endif %}
    {% else %}
        {% if items %}
            <ul>
                {% for item in items %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
