.textpic-gallery {

  .frame-image-scale-y & {

    .gallery-row,
    figure,
    picture,
    img {

      @include media-breakpoint-up('md') {
        height: 100%;
      }
    }

    .gallery-row {

      @include media-breakpoint-up('md') {
        overflow: hidden;
      }
    }

    img {

      @include media-breakpoint-up('md') {
        width: auto;
        max-width: none;
        min-width: 100%;
      }
    }
  }
}

.textpic-text {
  .frame-inner-background:not(.frame-inner-background-none) & {
    padding: 60px;
    padding-right: 80px;
  }
}

.textpic-right {

  .textpic-text {
    @include media-breakpoint-up('md') {
      padding-right: $grid-gutter-width;
    }
  }
}

.textpic-left {

  .textpic-text {
    @include media-breakpoint-up('md') {
      padding-left: $grid-gutter-width;
    }
  }
}

@for $imageWidth from 1 through 12 {
  .frame-image-width-#{$imageWidth} {
    .textpic-gallery {
      @include media-breakpoint-up('md') {
        @include make-col($imageWidth, 12);
      }
    }
    .textpic-text {
      @include media-breakpoint-up('md') {
        @include make-col((12-$imageWidth), 12);
      }
    }
  }
}

.frame-image-scale-y .textmedia-centered,
.frame-image-scale-y .textpic-centered {
  align-items: unset;
}


