// Card
//
.card {
  background: none;
  color: $body-color;
  transition: box-shadow .4s ease-in-out;

  &:hover {
    box-shadow: -20px 22px 24px -17px rgba(0,0,0,0.25);
  }

  img {
    clip-path: polygon(0% 0%, 86% 0%, 100% 18%, 100% 100%, 0% 100%);
  }

  .card-body {
    background: $card-bg;
  }

  .card-footer {
    position: relative;
    background: $card-bg;

    &:after {
      background: $secondary-2;
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
    }
  }

  .card-link {
    @extend .btn;
    @extend .btn-default;

    color: #fff !important;
  }

}


