.frame-type-menu_sitemap,
.frame-type-menu_pages,
.frame-type-menu_subpages,
.frame-type-dia_menu_pages {

  &:not(:last-child) {
    padding-bottom: 1.25rem !important;
  }

  & + div {
    padding-top: 0 !important;
  }

  .footer-section-content & {
    .frame-header {
      text-transform: uppercase;
      padding-bottom: 0 !important;

      .element-header {
        padding-left: 1rem;
        font-size: 1.1rem;
        position: relative;

        &:before {
          content: '';
          width: 0px;
          height: 0px;
          border: 5px solid transparent;
          border-left: 5px solid #BABDC7;
          position: absolute;
          left: .2rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    ul {
      @extend .nav;
      @extend .flex-column;

      li {
        @extend .nav-item;

        a {
          @extend .nav-link;
          padding-top: .2rem;
          padding-bottom: .2rem;
        }
      }
    }
  }
}
