<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{templateName}">
        <f:render partial="Gridelements/{templateName}" arguments="{_all}"/>
    </f:if>
</f:section>

</html>
