{% import _self as import %}

{% macro frame(header_layout, header_style) %}

    {% set header_layout = header_layout|default(2) %}
    {% set subheader_layout = (header_layout + 1) %}

    {% include '@frame-header' with {
        header_layout: header_layout,
        header: 'Header ' ~ header_layout,
        subheader: 'Subheader ' ~ subheader_layout
    } %}
    <hr>
{% endmacro %}

{{ import.frame(1) }}
{{ import.frame(2) }}
{{ import.frame(3) }}
{{ import.frame(4) }}
{{ import.frame(5) }}

