{% extends header ? "@wrapper-frame" : "@wrapper-empty" %}

{% set CType = 'header' %}
{% set header_layout = header_layout|default(2) %}
{% set headerTag = 'h' ~ header_layout %}
{% set subHeaderTag = 'h' ~ (header_layout+1) %}

{# CSS Class - Default css class #}
{% set class_header = 'element-header' %}
{% set class_subHeader = 'element-subheader' %}

{# Header Style - Options: 0, 1, 2, 3, 4 ,5 #}
{% if header_style %}
    {% set class_header = class_header ~ ' h' ~ header_style %}
    {% set class_subHeader = class_subHeader ~ ' h' ~ (header_style+1) %}
{% endif %}

{# Header Position - Options: left, center, right #}
{% set positionClass = header_position ? ' text-' ~ header_position : '' %}

{% block main %}
    <{{ headerTag }} class="{{ class_header }}{{ positionClass }}">{{ header }}</{{ headerTag }}>
    {% if subheader %}
        <{{ subHeaderTag }} class="{{ class_subHeader }}{{ positionClass }}">{{ subheader }}</{{ subHeaderTag }}>
    {% endif %}
    {% if date %}
        <p class="{{ positionClass }}">
            <time datetime="{{ date|date("Y-m-d") }}">
                {{ date|date("F d, Y") }}
            </time>
        </p>
    {% endif %}
{% endblock %}
