<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="extra mb-4">
    <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
        <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
    </time>

    <f:if condition="{settings.templateLayout}=='dates' && {newsItem.archive}">
        <span class="date-end"> - <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.archive}</f:format.date></span>
    </f:if>
</div>
</html>
