<f:if condition="{theme.pwa.enable}">
  <f:if condition="{theme.pwa.shortcutIcon}">
    <f:variable name="shortcutIcon" value="{f:uri.resource(path:theme.pwa.shortcutIcon)}" />
    <f:if condition="{theme.pwa.shortcutIcon} && {shortcutIcon}">
      <link rel="shortcut icon" href="{shortcutIcon}">
    </f:if>
  </f:if>
  <f:for each="{theme.pwa.icons}" as="icon">
    <f:variable name="iconPath" value="{f:uri.resource(path:icon.path)}" />
    <f:if condition="{icon.path} && {iconPath}">
      <link rel="{icon.rel}" sizes="{icon.sizes}" type="{icon.type}" href="{iconPath}">
    </f:if>
  </f:for>
  <meta name="theme-color" content="{theme.pwa.themeColor}">
  <f:if condition="{theme.pwa.maskIcon.enable}">
    <f:variable name="maskIcon" value="{f:uri.resource(path:theme.pwa.maskIcon.path)}" />
    <f:if condition="{theme.pwa.maskIcon.path} && {maskIcon}">
      <link rel="mask-icon" href="{maskIcon}" color="{theme.pwa.maskIcon.color}">
    </f:if>
  </f:if>
  <f:if condition="{theme.pwa.manifest}">
    <f:variable name="manifest" value="{f:uri.resource(path:theme.pwa.manifest)}" />
    <f:if condition="{theme.pwa.manifest} && {manifest}">
      <link rel="manifest" href="{manifest}">
    </f:if>
  </f:if>
  <f:if condition="{theme.pwa.msapplication.enable}">
    <meta name="msapplication-TileColor" content="{theme.pwa.msapplication.tileColor}">
    <f:variable name="msTileImage" value="{f:uri.resource(path:theme.pwa.msapplication.tileImage)}" />
    <f:if condition="{theme.pwa.msapplication.tileImage} && {msTileImage}">
      <meta name="msapplication-TileImage" content="{msTileImage}">
    </f:if>
    <f:variable name="msBrowserConfig" value="{f:uri.resource(path:theme.pwa.msapplication.browserconfig)}" />
    <f:if condition="{theme.pwa.msapplication.browserconfig} && {msBrowserConfig}">
      <meta name="msapplication-config" content="{msBrowserConfig}">
    </f:if>
  </f:if>
</f:if>
